*,
*::after,
*::before {
  box-sizing: inherit;
}
:root {
  --first-color: #3959d7;
  --first-alpha-color: #eaf1fe;
  --second-color: #1f3e72;
  --third-color: #6d7b93;
  --white-color: #fff;
  --white-alpha-color: rgb(255, 255, 255, 0.7);
  --gray-first-color: #e5e4f5;
  --gray-second-color: #f0f0f9;
  --yellow-color: #ffd012;
  --yelow-alpha-color: #fffcf0;
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  color: var(--third-color);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
/* a:hover{
    opacity: 0.65;
} */
h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--second-color);
}

h3 {
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}
img {
  max-width: 100%;
  height: auto;
}

/*COMPONENTE*/
/*UTILIIES*/
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: var(--max-width);
}
.none {
  display: none;
}

/*SITE STYLE*/
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  padding: 1rem;
  width: 100%;
  height: var(--header-height);
  background-color: var(--second-color);
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
}

.logo a {
  color: var(--first-color);
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
}

/*MENU*/
.menu-btn {
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);
}
.menu-btn svg {
  background: linear-gradient(
    90deg,
    rgba(56, 88, 214, 1) 0%,
    rgba(37, 69, 195, 1) 100%
  );
  box-shadow: 0.25rem 0.24rem 1rem rgba(0, 0, 0, 0.25);
}
.menu {
  position: fixed;
  left: 0;
  top: var(--header-height);
  /* bottom: ; */
  width: 100%;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu a {
  color: var(--first-alpha-color);
  font-size: 2rem;
  padding: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a:hover {
  color: var(--gray-first-color);
  background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {
  .container {
    background-color: Transparent;

    /* filter: blur(8px);
        -webkit-filter: blur(8px); */
  }
  .logo:hover {
    opacity: 0.65;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn {
    display: none;
  }
  .menu {
    padding: 0.5rem 12px;
    background-color: Transparent;

    position: static;
    width: auto;
    /* height: 2rem; */
    align-items: center;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }
  .menu a {
    margin: 0 10px;
    padding: 1rem 1.5rem;
    color: var(--third-color);
    font-size: 1rem;
  }

  .menu a:hover {
    color: white;
  }
  .btn:hover {
    /* padding: 0.25rem 12px;  */
    background-color: var(--first-color);
    box-shadow: 0.25rem 0.24rem 1rem rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
  }
}
/**/
@media screen and (min-width: 768px) {
}
/*Header desktop*/

.header {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .header {
    position: fixed;
    top: 0;
    height: calc(var(--header-height)- 0.5rem);
    background-color: var(--white-alpha-color);
    backdrop-filter: blur(5px);
    border-bottom: solid;
    border-color: white;
    /*   -webkit-filter: blur(4px); */
  }
}
/*
*/
.btn-svg-blue svg {
  fill: var(--first-color);
  width: 15px;
  height: 15px;
  align-items: center;
  /* box-shadow: .25rem .24rem 1rem rgba(0, 0, 0, 0.25);  */
}

.btn-svg-blue {
  display: flex;
 
  background-color: var(--first-alpha-color);
  border-style: solid;
  border-radius: 15%;
  border-width: thin;
  border-color: var(--white-color);
  align-items: center;
  /* box-shadow: .05rem .30rem 0.3rem rgba(250, 240, 167, 0.342);  */
  justify-content: center;
}
.btn-shadow {
  box-shadow: 0.05rem 0.3rem 0.3rem #3959d749;
}
.form-title {
  display: flex;
  font-size: 2rem;
  align-items: center;
  padding: 1rem;
}
.form-title h3 {
  padding-left: 1rem;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  opacity: 0;
}
.details {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-right: 2rem;
  align-content: center;
}

.schedule-details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0rem 0.7rem 1rem 2px rgb(167 175 250 / 34%);
  border-color: var(--white-color);
  border-style: solid;
  background-color: var(--white-alpha-color);
  backdrop-filter: blur(5px);
  border-radius: 15px;
}

.schedule-details label {
  width: 100%;
}

.schedule-details input {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--second-color);
  border: 0;
  /* border-bottom: thin solid var(--third-color); */
  padding-left: 0;
  margin: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .schedule-details {
    flex-direction: row;
  }
  form {
    position: absolute;
    bottom: -13rem;
    margin: 10%;
  }
}

select[name="vaccineType"] {
  margin-top: 0.5rem;
  margin-right: 1rem;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: #193c73;
  padding: 1%;
  width: 125px;
}

.title-icon {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 0.5rem;
}

.section-1 {
  padding: 1rem;
  position: relative;
  margin: 0 auto;
  background-color: var(--white-color);
}

.section-1 h1 {
  font-size: 4vw;
  font-weight: 800;
  color: var(--second-color);
  align-items: center;
}

/*Image principal*/
@media screen and (min-width: 1024px) {
  .section-1 {
    padding: 0;
    position: relative;
    margin: 0 auto;
    background-color: var(--white-color);
  }
  .principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .principal-container {
    width: 50%;
    margin: 10%;
  }
  .image-1 {
    width: 50%;
  }
}

.btn-vaccine {
  /* padding: 0.25rem 12px;  */
  padding: auto;
  /* background-color: var(--first-color); */

  background: linear-gradient(
    90deg,
    rgba(56, 88, 214, 1) 0%,
    rgba(37, 69, 195, 1) 100%
  );
  box-shadow: 0.25rem 0.24rem 1rem rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  color: var(--white-color) !important;
}
.btn-vaccine:hover {
  opacity: 0.85;
}

.btn-svg svg {
  fill: var(--yellow-color);
  width: 15px;
  height: 15px;
  align-items: center;
  /* box-shadow: .25rem .24rem 1rem rgba(0, 0, 0, 0.25);  */
}
.btn-svg {
  display: flex;
  width: 25px;
  height: 25px;
  background-color: var(--yelow-alpha-color);
  border-style: solid;
  border-radius: 15%;
  border-width: thin;
  border-color: var(--white-color);
  align-items: center;
  box-shadow: 0.05rem 0.3rem 0.3rem rgba(250, 240, 167, 0.342);
  justify-content: center;
}

.list-option {
  display: flex;
  padding: auto;
  flex-direction: row;
  justify-content: space-around;
}
.list-option p {
  color: var(--third-color);
  font-size: 1rem;
  font-weight: bold;
}
.list-option article {
  display: flex;
  align-items: center;
}

.vacunas {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem;
}
.logo-images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo-images img {
  margin: 1rem;
  width: 200px;
}

/*Section 4*/

.contact-cards {
  /* margin: 1rem auto;
    padding: 1rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cards,
.contact {
  display: flex;
  flex-direction: column;
}

.information-1,
.information-2,
.contact {
  margin-left: 5rem;
  margin-right: 5rem;
}
.information-1 h2 {
  font-size: 2.5rem;
  font-weight: 800;
}
.card {
  display: flex;
  flex-direction: column;

  width: -webkit-fill-available;
  height: 300px;
  background-color: var(--white-color);
  border-style: solid;
  border-radius: 1rem;
  border-color: var(--gray-second-color);
  justify-content: center;
  margin: 1rem;
}
.cards .card {
  padding: 2rem;
}

.card:hover {
  border-style: none;
  box-shadow: #e2ebfa 0px 12px 14px 3px;
  transition: all 0.25s;
  transform: translateY(-5px);
}

.cards .btn-svg-blue,
.contact .btn-svg-blue {
  width: 3rem;
  height: 3rem;
}
.cards .btn-svg-blue img,
.contact .btn-svg-blue img {
  width: 25px;
  height: 25px;
}
/* .text-information{
    width: 350px;  
} */

@media screen and (min-width: 768px) {
  .contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
    align-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .contact {
    display: grid;

    justify-content: space-between;
  }
  .contact-info {
    grid-column: span 2;
  }
  .contact-cards {
    /* width: 50%; */

    /* display: flex;
       flex-direction: row; */
    /* grid-template-columns: repeat(4, 24%); */
  }

  .cards {
    /* flex-direction: row; */
  }
  .information-1 {
    margin-left: 150px;
    margin-right: 150px;
  }

  .section-cards {
    width: 80%;
  }
}




.button {
  background: linear-gradient(
    90deg,
    rgba(56, 88, 214, 1) 0%,
    rgba(37, 69, 195, 1) 100%
  );
  box-shadow: 0.25rem 0.24rem 1rem rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0.5rem;
}

.contact .button {
  grid-column: span 2;
}

.contact-cards .card {
  display: flex;
  width: 250px;
  height: 200px;
  padding: 2rem;
  justify-items: center;
}

.footer {
  background-color: var(--gray-second-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  line-height: 2rem;
}
.footer h6 {
  font-weight: 800;
  font-size: 1rem;
  color: var(--second-color);
}
.footer-column a {
  color: var(--third-color);
}

.footer .footer-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
}

.footer-columns li {
  list-style: none;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .footer {
    display: grid;
    padding-right: 10rem;
    padding-left: 10rem;
  }
  .footer-column {
    padding-left: 4rem;
  }
  /* .footer-columns div:last-child{
        padding-right: 5rem;
    } */
  .footer-final {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
  }

  .footer-final {
    margin-top: 2rem;
  }
  .footer-final small a {
    margin-left: 1rem;
    color: var(--third-color);
  }
}

/**************************/

.information-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sumarys {
  display: flex;
  flex-direction: column;
  width: 3rem;
    height: 3rem;
}

details {
  width: 100%;
  max-width: 600px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  border-style: solid;
  border-width: thin;
  border-radius: 1rem;
  border-color: var(--gray-second-color);
  box-sizing: border-box;
  margin: 1rem;
}

/* details + details {
    margin-top: 20px;
  } */

details[open] {
  min-height: 50px;
  background-color: var(--white-color);
  border-style: none;
  box-shadow: #e2ebfa 0px 12px 14px 3px;
  transition: all 0.25s;
  transform: translateY(-5px);
  padding: 2rem ;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-weight: 500; */
  cursor: pointer;
}
summary h3 {
  color: var(--second-color);
}

summary:focus {
  outline: none;
}

/* summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 5px rebeccapurple;
  } */

summary::-webkit-details-marker {
  display: none;
}

.control-icon {
  fill: #3959d7;
  transition: 0.3s ease;
  pointer-events: none;
}

.control-icon-close {
  display: none;
}

details[open] .control-icon-close {
  display: initial;
  transition: 0.3s ease;
}

details[open] .control-icon-expand {
  display: none;
}

.btn-svg-blue-sumary {
    /* display: flex; */
    padding: 0.25rem;
    background-color: var(--first-alpha-color);
    border-style: solid;
    border-radius: 15%;
    border-width: thin;
    border-color: var(--white-color);
    align-items: center;
    /* box-shadow: .05rem .30rem 0.3rem rgba(250, 240, 167, 0.342);  */
    
  }

  @media screen and (min-width: 1024px) {
    .information-2 {
        
        flex-direction: row;
        padding-top: 5rem;
        padding-right: 10rem;
    padding-left: 10rem;
    }
    .info-preparation{
        width: 50%;
    }
    .cards-preparation{
        width: 50%;
    }
}

.image-col girl {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
    width: 450px;
    height: auto;
}
.color-box {
    position: absolute;
    left: 0;
    bottom: 100px;
    background: linear-gradient(
        90deg,
        rgba(56, 88, 214, 1) 0%,
        rgba(37, 69, 195, 1) 100%
    );
    height: 100%;
    width: 50%;
    top: 1000;
    z-index: -1;
}
.colocate-1 .color-box{
    left: 0;
    bottom: 10px;
    
}



/* 
.image-col {
  /*  
  flex-basis: 60%;
  /* display: flex; */
  /* justify-content: flex-end; */
  /* padding-right: 3rem; *
} */